<li>
    <p>
                           
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <small>
             <a href="/comments/destroy/<%= comment.id%>">x</a>
            </small>
         <% } %>


        <%= comment.content %>
     <br>
     <small>
     
            <% if (comment.user && comment.user.name) { %>
                <%= comment.user.name %>
            <% } else { %>
                User information not available
            <% } %>
       
     </small>

     <small>
        <% if (locals.user) { %>
            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id %>&type=Comment">
                <i class="fa-solid fa-heart" style="color: #f70202;"></i>
                <%= comment.likes.length %>
            </a>
                
               
           <% } else { %>
                <i class="fa-light fa-heart" style="color: #f70202;"></i>
                <%= comment.likes.length %>
           <% } %>

     </small>
     </p>
</li>